/* @group header */

#header {
  height: 50px;
  background-image: url(../images/header.png);
  line-height: 38px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

#header ul {
  width: 950px;
  margin: 0 auto;
  padding: 7px 0 0;
  list-style-type: none;
  overflow: hidden;
}

#header ul li {
  display: inline;
  margin-right: 10px;
  float: left;
}

#header ul li a {
  line-height: 24px;
  font-size: 12px;
  font-style: italic;
  background: url(../images/header-right.png) right 0;
  float: left;
  color: #848484;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
}

#header ul li a:hover {
  text-decoration: none;
  opacity: 0.5;
}

#header ul li a span {
  display: block;
  height: 26px;
  float: left;
  background: url(../images/header-left.png) no-repeat;
  padding-left: 10px;
  padding-right: 10px;
}

/* @end */
