/*
 * Social media icons 
 */

ul.social-media {

  li { 
    padding-right: 2px;
    display:inline-block;
  }
  
  li > a {
    width: 24px;
    height: 24px;
  }

  li a.github {
    background-image: url("./images/github.png");
  }

  li a.facebook {
    background-image: url("./images/facebook.png");
  }

  li a.google {
    background-image: url("./images/gplus.png");
  }
  
  li a.linkedin {
    background-image: url("./images/linkedin.png");
  }

  li a.rss {
    background-image: url("./images/rss.png");
  }
}

/**
 * IE fallback 
 */
 /*
.no-svg footer.main-footer ul.social-media li a {
  width: 24px;
  height: 24px;
  border: 1px solid $color-white;
  background-image: url("./images/socials-icons.png");
  background-size: 168px 48px;
  border-radius: 0.25em;
  @include transition(background-color 0.2s);
  border-bottom-color: transparent;

  &:hover {
    background-color: $color-white;
  }
}*/