{% capture social_media_li %}
<ul class="social-media">
    {% if site.custom_theme.social.linkedin %}
    <li>
        <a title="{{ site.custom_theme.social.linkedin }} on LinkedIn" 
            href="https://linkedin.com/in/{{ site.custom_theme.social.linkedin }}" 
            class="linkedin wc-img-replace" target="_blank">LinkedIn</a>
    </li>
    {% endif %} 
    
    {% if site.custom_theme.social.gplus %}
    <li>
        <a title="{{ site.custom_theme.social.gplus }} on Google Plus" 
            href="https://plus.google.com/{{ site.custom_theme.social.gplus }}" 
            class="google wc-img-replace" target="_blank">Google</a>
    </li>
    {% endif %}

    {% if site.custom_theme.social.facebook %}
    <li>
        <a title="{{ site.custom_theme.social.facebook }} on Facebook" 
            href="https://facebook.com/{{ site.custom_theme.social.facebook }}" 
            class="facebook wc-img-replace" target="_blank">Facebook</a>
    </li>
    {% endif %}

    {% if site.custom_theme.social.github %}
    <li>
        <a title="{{ site.custom_theme.social.github }} on Github" 
            href="https://github.com/{{ site.custom_theme.social.github }}" 
            class="github wc-img-replace" target="_blank">Github</a>
    </li>
    {% endif %} 

    <li>
        <a title="Subscribe via RSS" 
            href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}"
            class="rss wc-img-replace" target="_blank">
            RSS
        </a>
    </li>

</ul>
{% endcapture %}{{ social_media_li | strip_newlines }}
